* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.plus {
    background-color: lightblue;
    color: black;
}

.equal {
    background-color: lightgreen;
    color: black;
}

.calculator {
    position: relative;
    width: 300px;
}

.calculator #value {
    position: relative;
    margin-bottom: 12px;
    left: 8px;
    height: 150px; /* Augmenté pour plus de hauteur */
    line-height: 150px; /* Ajusté pour centrer verticalement le texte */
    padding: 0 20px;
    background: #a7aaf7; /* Correction de la couleur */
    border-radius: 10px;
    text-align: right;
    font-size: 2em; /* Augmenté pour une taille de texte plus grande */
    color: #3a3c2e;
    overflow: hidden;
    box-shadow: inset 0 6px 1px 0 rgba(0,0,0,0.35),
                0 5px 5px rgba(0,0,0,0.5),
                0 15px 25px rgba(0,0,0,0.35);
    user-select: none;
    width: calc(100% - 16px);
}

.calculator #value::before {
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajouté pour définir le nombre de colonnes */
}
.calculator .buttons.clear {
    background-color: orange;
    color: white;
}

.calculator .buttons span {
    position: relative;
    padding: 10px;
    margin: 6px;
    min-width: 40px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    border: 2px solid #222;
    border-radius: 6px;
    background: linear-gradient(#555353, #363535);
    box-shadow: inset 0 6px 1px 0 rgba(0,0,0,0.35),
                0 5px 5px rgba(0,0,0,0.5),
                0 15px 25px rgba(0,0,0,0.35);
    user-select: none;
    cursor: pointer;
}

.calculator .buttons span::before {
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
}
